<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>admin</title>
</head>
<body>
    запрос для нейронки: отредактируй код проекта на джанго, в котором уже есть регистрация, и авторизация, и профиль (прикрепляю файл db.sqlite3
    models.py, views.py, urls.py, и все html)  стили не используй. в него нужно добавить возможность генерировать документы, используя данные
    из базы и шаблоны файлов(перечислить их названия) используй библиотеку докстеплейт. во встроенной админ панель джанго добавь возможность загружать шаблоны документов
    и редактировать документы в базе. 
</body>
</html>